
body{
  margin: 2px;
  padding: 2px;
}
.top{
  background-color:lightskyblue;
  height:30px;
  border-radius: 3px;
}
.header{
  text-align:center;
  height:180px;
  background-color:greenyellow ;
  
  
}
.heading{
  padding: 2px;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}
marquee{
  color:red;
  font-size:20px;
  behavior:alternate
}

.navbar{
  background-color: green;
  justify-content: center;
  height: 50px;
}
.navbar.menu{
  margin-left: 20px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}
.menu{
}
nav a{
  display: inline-block;
  text-decoration: none;
  border-radius: 3px;
  width: 120px;
  height: 30px;
  font-size: 25px;
  text-align: center;
  margin:10px 10px 10px 10px;
  color:white;
}
nav a:hover {
  font-weight: bold;
  background-color: lightgreen;
  text-decoration: none;
  color: black;
}
  .btn{
  margin: 10px 10px 10px 10px;
  float:right;
  
 }
 button:hover{
   background-color: lightgrey;
 }
 .login,.signup{ 
   background-color: lightsalmon;
   font-size: 20px;
   border: solid 2px;
   border-radius: 3px;
   
  }

.active {
  background-color: aquamarine;

}
.imageslider{
height: 400px;
background-image:url(image/nature-2531761_1920.jpg);
background-size: 100%;
}
.container{
  height:500px;
}
.leftcontent{
  background-color: cadetblue;
  width:15px;
}
.centercontent{
  
  background-color: chocolate;
}
.rightcontent{
  
  background-color:lightpink ;
  width: 15px;
}

.logo{
 float: left;
 padding: 5px 0 0 5px;

}
.logo img{ border: solid 1px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  }
.copyright{
  
}
#footer{
height:60px;
background-color:lightcoral;
}

